<h1>Gigs#index</h1>
<p>Find me in app/views/gigs/index.html.erb</p>

<p><%= link_to "Add a new Gig", new_gig_path %>	</p>

<h2>These are the Gigs in the database</h2>


<%= simple_table_for @gigs, with: GigsTable %>